@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #9ADDE7;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
  }